body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.page-container {
    display: flex;
    height: 100vh;
    background-color: #FFE4E4;
}

.sidebar {
    width: 250px;
    background-color: #fff1f1;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 20px;
}

.sidebar-header {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-header img {
    max-width: 180px;
    height: 50px;
}


.sidebar-nav {
    flex-grow: 1;
    padding-top: 10px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Lexend", sans-serif;
}

.sidebar-nav li a {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-nav li a img {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.sidebar-nav li a:hover, .sidebar-nav li a.active {
    background-color: #f7e0e0;
    color: #960057;
}

.sidebar-footer {
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    margin-top: auto;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
}

.sidebar-footer a {
    text-decoration: none;
    color: #410028;
    font-size: 0.9em;
}

.sidebar-footer a img {
    margin-right: 15px;
}

.sidebar-footer a:hover {
    color: #960057;
}